version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    networks:
      - ethidata_net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    env_file:
      - ./backend/.env
    networks:
      - ethidata_net
    expose:
      - "5001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5001/api/health" ]
      interval: 15s
      timeout: 5s
      retries: 5

networks:
  ethidata_net:
    driver: bridge
